@use '../abstracts/' as *;

.border-hover {
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        transition: all 0.5s ease;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border: 1px solid $white;
        opacity: 0;
        visibility: hidden;
    }

    &:hover::after {
        opacity: 1;
        visibility: visible;
        width: calc(100% - 35px);
        height: calc(100% - 35px);
    }
}