@use '../abstracts/' as *;

.category-slider {
    &__item {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            transition: all 0.5s ease;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $bg-overlay;
            z-index: 1;
            opacity: 0;
            visibility: hidden;

            @include mobile {
                opacity: 1;
                visibility: visible;
            }
        }

        &:hover::before {
            opacity: 1;
            visibility: visible;
        }

        &__txt {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3rem;
            font-weight: 700;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease;
            z-index: 2;

            @include mobile {
                opacity: 1;
                visibility: visible;
            }
        }

        &:hover &__txt {
            opacity: 1;
            visibility: visible;
            color: $white;
        }
    }
}