.ratio {
    position: relative;

    &-16-9 {
        padding-top: 56.25%;
    }

    &-1-1 {
        padding-top: 100%;
    }

    &-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}