$body-bg: #1d1d1d;
$second-bg: #3a3a3a;
$main-color: #f44336;
$main-color-hover: #de3700;
$txt-color: #fff;
$txt-second-color: #d1d1d1;
$white: #fff;
$neon-color: #ff3e03;

$header-height: 110px;
$header-shrink-height: 74px;

$mobile-width: 600px;
$tablet-width: 1024px;

$border-radius: 20px;

$font-family: 'Roboto Condensed', sans-serif;

$box-shadow: 0 10px 20px rgb(0 0 0 /5%);
$bg-overlay: rgba(0,0,0,0.5);